@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');


::selection {
    background-color: #2D112B;
    color: white;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FEDCC8;
}

header {
    background-color: #2D112B;
    color: #fff;
    padding: 1em;
    text-align: center;
    position: relative;
    z-index: 10;
}

main {
    background-color: #FEDCC8;
}
section {
    padding: 2em;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

main h2, p{
    display: flex;
    justify-content: center;
}


/*  NAV BAR */
.navbar {
    padding: 0.5rem; /* Adjust the padding as needed */
}

.navbar-brand {
    font-size: 1.5rem; /* Adjust the font size as needed */
}

.navbar-toggler {
    padding: 0.25rem 0.5rem; /* Adjust the padding as needed */
}

.navbar-nav {
    flex-direction: row; /* Display nav items in a row */
}

.nav-item {
    margin-right: 0.5rem; /* Adjust the margin as needed */
}


.active {
    background-color: #e4e4e4;
    border-radius: 10px;
}


/* MEMBERS */

/* Add this CSS for the main content layout */
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content h2     {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Add this CSS to center the 'Our Founders' heading */
.founders-section {
    text-align: center;
    display: flex;
    justify-content: space-between; /* Spread items equally */
    align-items: center;
    flex-wrap: wrap;
}


.founders-section h2 {
    margin-bottom: 20px; /* Add margin for spacing */
}

.founders-section h2 {
    margin-bottom: 20px; /* Add margin for spacing */
}

#yes {
    margin-bottom: 60px;
}
/* Additional styling for the founders section */
.founders-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.founder img {
    border-radius: 100%;
    max-width: 200px;
    padding: 5px;
}

.founder h3 {
    /* display: inline-block; */
    max-width: 500px;
    padding: 30px;
    margin: 20px 0 0 0;
}

/* Add this CSS to handle responsiveness */
@media (max-width: 600px) {
    .founders-section {
        flex-direction: column;
    }
}

