@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');


body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

main {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

p::selection {
    background: pink;
}